@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #7bc3de;
  --primary-dark: #336699;
  --secondary: #d8f793;
  --secondary-dark: #a0ca92;
  --dark: #2F4858;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  background-color: var(--secondary);
  padding: 0;
  margin: 0;
}

#root {
  width: 100%;
}

.App{
  width: 80%;
  margin: auto;
}